<section data-th-attr="data-live-edit-type=${component.type}" id="pricing">
    <div class="box">
        <div class="center">
            <h2>See our Pricings</h2>

            <p class="lead">Pellentesque habitant morbi tristique senectus et netus et <br/>malesuada fames ac turpis egestas.</p>
        </div>
        <!--/.center-->
        <div class="big-gap"></div>
        <!-- Use the demo values if nothing has been edited yet -->
        <div id="pricing-table" class="row" data-th-if="${#lists.size(slides)} eq 0">
            <div class="col-sm-4">
                <ul class="plan">
                    <li class="plan-name">Basic</li>
                    <li class="plan-price">$29</li>
                    <li>5GB Storage</li>
                    <li>1GB RAM</li>
                    <li>400GB Bandwidth</li>
                    <li>10 Email Address</li>
                    <li>Forum Support</li>
                    <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Signup</a></li>
                </ul>
            </div>
            <!--/.col-sm-4-->
            <div class="col-sm-4">
                <ul class="plan featured">
                    <li class="plan-name">Standard</li>
                    <li class="plan-price">$49</li>
                    <li>10GB Storage</li>
                    <li>2GB RAM</li>
                    <li>1TB Bandwidth</li>
                    <li>100 Email Address</li>
                    <li>Forum Support</li>
                    <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Signup</a></li>
                </ul>
            </div>
            <!--/.col-sm-4-->
            <div class="col-sm-4">
                <ul class="plan">
                    <li class="plan-name">Advanced</li>
                    <li class="plan-price">$199</li>
                    <li>30GB Storage</li>
                    <li>5GB RAM</li>
                    <li>5TB Bandwidth</li>
                    <li>1000 Email Address</li>
                    <li>Forum Support</li>
                    <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Signup</a></li>
                </ul>
            </div>
            <!--/.col-sm-4-->
        </div>
        <!-- Use entered values if they exist -->
        <div id="pricing-table" class="row" data-th-if="${slides.size()} gt 0">
            <div data-th-each="slide, iterStat : ${slides}" class="col-sm-4">
                <ul class="plan" data-th-class="(${slide.getBoolean('featured')})? 'plan featured' : 'plan'">
                    <li class="plan-name" data-th-text="${slide.getString('name')}">Basic</li>
                    <li class="plan-price" data-th-text="${slide.getString('price')}">$29</li>
                    <li data-th-each="feature : ${slide.getStrings('features')}" data-th-text="${feature}">5GB Storage</li>
                    <li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Signup</a></li>
                </ul>
            </div>
            <!--/.col-sm-4-->
        </div>
    </div>
</section><!--/#pricing-->