<?xml version="1.0" encoding="UTF-8"?>
<module>
  <display-name>Demo module</display-name>
  <info>For demo purposes only.</info>
  <url>http://enonic.net</url>
  <vendor>
    <name>Enonic AS</name>
    <url>http://www.enonic.com</url>
  </vendor>
  <dependencies system-min-version="5.0.0" system-max-version="6.0.0" />
  <form name="config">
    <input type="TextLine" name="my-config-a">
      <label>My config A</label>
      <immutable>false</immutable>
      <indexed>false</indexed>
      <custom-text />
      <help-text />
      <occurrences minimum="0" maximum="1" />
    </input>
    <input type="TextLine" name="my-config-b">
      <label>My config B</label>
      <immutable>false</immutable>
      <indexed>false</indexed>
      <custom-text />
      <help-text />
      <occurrences minimum="0" maximum="1" />
    </input>
  </form>
</module>

