<?xml version="1.0" encoding="UTF-8"?>
<module>
  <display-name>Strongly Typed</display-name>
  <info>Epic module for people who like to type STRONG.</info>
  <url>http://html5up.net</url>
  <vendor>
    <name>Enonic AS</name>
    <url>http://www.enonic.com</url>
  </vendor>
  <dependencies system-min-version="5.0.0" system-max-version="6.0.0"/>
  <form name="config">
    <input type="TextArea" name="address">
      <label>Address</label>
      <immutable>false</immutable>
      <indexed>false</indexed>
      <custom-text/>
      <help-text/>
      <occurrences minimum="0" maximum="1"/>
    </input>
    <input type="TextLine" name="phone">
      <label>Phone</label>
      <immutable>false</immutable>
      <indexed>false</indexed>
      <custom-text/>
      <help-text/>
      <occurrences minimum="0" maximum="1"/>
    </input>
    <input type="TextLine" name="mail">
      <label>Mail</label>
      <immutable>false</immutable>
      <indexed>false</indexed>
      <custom-text/>
      <help-text/>
      <occurrences minimum="0" maximum="1"/>
    </input>
    <input type="TextLine" name="facebook-page">
      <label>Facebook Page</label>
      <immutable>false</immutable>
      <indexed>false</indexed>
      <custom-text/>
      <help-text/>
      <occurrences minimum="0" maximum="1"/>
    </input>
    <input type="TextLine" name="twitter-account">
      <label>Twitter account</label>
      <immutable>false</immutable>
      <indexed>false</indexed>
      <custom-text/>
      <help-text/>
      <occurrences minimum="0" maximum="1"/>
    </input>
  </form>
</module>
