<?xml version="1.0" encoding="UTF-8"?>
<module>
  <display-name>Simple Site Module</display-name>
  <info>Sample module with basic page and region</info>
  <url>http://enonic.com/</url>
  <vendor>
    <name>Enonic AS</name>
    <url>http://www.enonic.com</url>
  </vendor>
  <dependencies system-min-version="5.0.0" system-max-version="6.0.0"/>
  <config>
  </config>
</module>