<section data-th-attr="data-live-edit-type=${component.type},data-live-edit-component=${component.path}" id="main-slider" class="carousel">
    <div class="carousel-inner">
        <div class="item" data-th-each="slide, iterStat : ${slides}" data-th-class="${iterStat.index == 0}? 'item active' : 'item'">
            <div class="container">
                <div class="carousel-content">
                    <h1 data-th-text="${slide.getProperty('header').value}">Free Onepage Theme</h1>
                    <p class="lead" data-th-text="${slide.getProperty('subtitle').value}">Xeon is the best free onepage responsive theme available arround the globe<br />Download it right now for free</p>
                </div>
            </div>
        </div><!--/.item-->
    </div><!--/.carousel-inner-->
    <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
    <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
</section><!--/#main-slider-->