<section data-th-attr="data-live-edit-type=${component.type},data-live-edit-component=${component.path}" id="about-us">
    <div class="box">
        <div class="center">
            <h2 data-th-text="${data.title}">Meet the Team</h2>

            <p class="lead" data-th-text="${data.text}">Pellentesque habitant morbi tristique senectus et netus et<br/>malesuada fames ac
                turpis egestas.</p>
        </div>
        <div class="gap"></div>
        <div id="team-scroller" class="carousel scale">
            <div class="carousel-inner">
                <div class="item active">
                    <div class="row">
                        <div data-th-each="person, iterStat : ${data.persons}" class="col-sm-4">
                            <div class="member">
                                <p><img class="img-responsive img-thumbnail img-circle" data-th-src="${person.image}"
                                        src="../public/images/team1.jpg" alt=""/></p>

                                <h3><span data-th-text="${person.name}">Agnes Smith</span>
                                    <small class="designation" data-th-text="${person.title}">CEO &amp; Founder</small>
                                </h3>
                            </div>
                        </div>
                        <div data-th-remove="all" class="col-sm-4">
                            <div class="member">
                                <p><img class="img-responsive img-thumbnail img-circle"
                                        data-th-src="${context.url.createResourceUrl('images/team2.jpg')}" src="../public/images/team2.jpg"
                                        alt=""/></p>

                                <h3>Donald Ford
                                    <small class="designation">Senior Vice President</small>
                                </h3>
                            </div>
                        </div>
                        <div data-th-remove="all" class="col-sm-4">
                            <div class="member">
                                <p><img class="img-responsive img-thumbnail img-circle"
                                        data-th-src="${context.url.createResourceUrl('images/team3.jpg')}" src="../public/images/team3.jpg"
                                        alt=""/></p>

                                <h3>Karen Richardson
                                    <small class="designation">Assitant Vice President</small>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/.carousel-->
    </div>
    <!--/.box-->
</section><!--/#about-us-->