<section data-th-attr="data-live-edit-type=${component.type},data-live-edit-component=${component.path}" id="portfolio">
    <div class="box">
        <div class="center gap">
            <h2>Portfolio</h2>
            <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac<br />turpis egestas. Vestibulum tortor quam, feugiat vitae.</p>
        </div><!--/.center-->
        <ul class="portfolio-filter">
            <li><a class="btn btn-primary active" href="#" data-filter="*">All</a></li>
            <li><a class="btn btn-primary" href="#" data-filter=".bootstrap">Bootstrap</a></li>
            <li><a class="btn btn-primary" href="#" data-filter=".html">HTML</a></li>
            <li><a class="btn btn-primary" href="#" data-filter=".wordpress">Wordpress</a></li>
        </ul><!--/#portfolio-filter-->
        <ul class="portfolio-items col-4">
            <li class="portfolio-item apps">
                <div class="item-inner">
                    <div class="portfolio-image">
                        <img data-th-src="${context.url.createResourceUrl('images/portfolio/thumb/item1.jpg')}" src="../public/images/portfolio/thumb/item1.jpg" alt="" />
                        <div class="overlay">
                            <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="../public/images/portfolio/full/item1.jpg"><i class="icon-eye-open"></i></a>             
                        </div>
                    </div>
                    <h5>Lorem ipsum dolor sit amet</h5>
                </div>
            </li><!--/.portfolio-item-->
            <li class="portfolio-item joomla bootstrap">
                <div class="item-inner">
                    <div class="portfolio-image">
                        <img data-th-src="${context.url.createResourceUrl('images/portfolio/thumb/item2.jpg')}" src="../public/images/portfolio/thumb/item2.jpg" alt="" />
                        <div class="overlay">
                            <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="../public/images/portfolio/full/item2.jpg"><i class="icon-eye-open"></i></a>  
                        </div>
                    </div> 
                    <h5>Lorem ipsum dolor sit amet</h5>         
                </div>
            </li><!--/.portfolio-item-->
            <li class="portfolio-item bootstrap wordpress">
                <div class="item-inner">
                    <div class="portfolio-image">
                        <img data-th-src="${context.url.createResourceUrl('images/portfolio/thumb/item3.jpg')}" src="../public/images/portfolio/thumb/item3.jpg" alt="" />
                        <div class="overlay">
                            <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="../public/images/portfolio/full/item3.jpg"><i class="icon-eye-open"></i></a>        
                        </div> 
                    </div>
                    <h5>Lorem ipsum dolor sit amet</h5>          
                </div>           
            </li><!--/.portfolio-item-->
            <li class="portfolio-item joomla wordpress apps">
                <div class="item-inner">
                    <div class="portfolio-image">
                        <img data-th-src="${context.url.createResourceUrl('images/portfolio/thumb/item4.jpg')}" src="../public/images/portfolio/thumb/item4.jpg" alt="" />
                        <div class="overlay">
                            <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="../public/images/portfolio/full/item4.jpg"><i class="icon-eye-open"></i></a>          
                        </div>   
                    </div>
                    <h5>Lorem ipsum dolor sit amet</h5>        
                </div>           
            </li><!--/.portfolio-item-->
            <li class="portfolio-item joomla html">
                <div class="item-inner">
                    <div class="portfolio-image">
                        <img data-th-src="${context.url.createResourceUrl('images/portfolio/thumb/item5.jpg')}" src="../public/images/portfolio/thumb/item5.jpg" alt="" />
                        <div class="overlay">
                            <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="../public/images/portfolio/full/item5.jpg"><i class="icon-eye-open"></i></a>          
                        </div>  
                    </div>
                    <h5>Lorem ipsum dolor sit amet</h5>  
                </div>       
            </li><!--/.portfolio-item-->
            <li class="portfolio-item wordpress html">
                <div class="item-inner">
                    <div class="portfolio-image">
                        <img data-th-src="${context.url.createResourceUrl('images/portfolio/thumb/item6.jpg')}" src="../public/images/portfolio/thumb/item6.jpg" alt="" />
                        <div class="overlay">
                            <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="../public/images/portfolio/full/item6.jpg"><i class="icon-eye-open"></i></a>           
                        </div>  
                    </div>
                    <h5>Lorem ipsum dolor sit amet</h5>         
                </div>           
            </li><!--/.portfolio-item-->
            <li class="portfolio-item joomla html">
                <div class="item-inner">
                    <div class="portfolio-image">
                        <img data-th-src="${context.url.createResourceUrl('images/portfolio/thumb/item5.jpg')}" src="../public/images/portfolio/thumb/item5.jpg" alt="" />
                        <div class="overlay">
                            <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="../public/images/portfolio/full/item5.jpg"><i class="icon-eye-open"></i></a>          
                        </div>  
                    </div>
                    <h5>Lorem ipsum dolor sit amet</h5>  
                </div>       
            </li><!--/.portfolio-item-->
            <li class="portfolio-item wordpress html">
                <div class="item-inner">
                    <div class="portfolio-image">
                        <img data-th-src="${context.url.createResourceUrl('images/portfolio/thumb/item6.jpg')}" src="../public/images/portfolio/thumb/item6.jpg" alt="" />
                        <div class="overlay">
                            <a class="preview btn btn-danger" title="Lorem ipsum dolor sit amet" href="../public/images/portfolio/full/item6.jpg"><i class="icon-eye-open"></i></a>           
                        </div>   
                    </div>
                    <h5>Lorem ipsum dolor sit amet</h5>        
                </div>         
            </li><!--/.portfolio-item-->
        </ul>   
    </div><!--/.box-->
</section><!--/#portfolio-->