<?xml version="1.0" encoding="UTF-8"?>
<module>
  <display-name>Xslt module</display-name>
  <info>For demo purposes only.</info>
  <url>http://enonic.net</url>
  <vendor>
    <name>Enonic AS</name>
    <url>http://www.enonic.com</url>
  </vendor>
  <dependencies system-min-version="5.0.0" system-max-version="6.0.0"/>
  <form name="config"/>
</module>
