<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link data-th-href="${portal.assetUrl({'_path=css/bootstrap.min.css'})}" href="../public/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<h1>Simple Site, with a view and region!</h1>

<div class="container" data-portal-component-type="region">
    <div data-th-each="component : ${mainRegion.components}" data-th-remove="tag">
        <div data-portal-component="${component.path}" data-th-remove="tag"/>
    </div>
</div>
</body>
</html>